
table {
    width: 100%;
  }


.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

.delete {
    cursor: pointer;
    color: #e15639;
}
.edit {
    cursor: pointer;
    color: #3960e1;
}

.add {
    font-size: 10px;
    line-height: 28px;
}