<div class="title">
    <h1>Show Expense</h1>
</div>


<div class="container">
    <mat-card class="card">
        <mat-card-title>Juice</mat-card-title>
        <mat-card-content>
            <p><strong>Category:</strong> Drinks </p>
            <p><strong>Amount:</strong> 100 </p>
            <p><strong>User:</strong> Xavier </p>
            <p><strong>Date:</strong> 10/5/2000 </p>
        </mat-card-content>
        <mat-card-actions> 
            <button routerLink="/listExpense" mat-raised-button>Return</button>
        </mat-card-actions>
    </mat-card>
</div>
